<div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
  <h2 class="text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0 text-center w-full">Are you ready to vote?!</h2>

  <!-- <p><a class="underline" href="https://www.electoralcommission.org.uk/voting-and-elections/voter-id">You will need to show photo ID to vote at polling stations</a> in these elections, so make sure you have valid ID ready!</p> -->
  <p class="text-center w-full"><a class="underline" href="https://www.electoralcommission.org.uk/voting-and-elections/ways-vote">You can choose to vote in person, by post, or by proxy</a> but whichever way you prefer to vote, don't miss any of these dealines!</p>
  <p>&nbsp;</p>
  {{ if .Site.Params.Timetable.register }}
  <p class="text-center w-full">
    🗃️ <a class="underline" href="https://www.electoralcommission.org.uk/i-am-a/voter/register-vote-and-update-your-details">Register to vote</a> by
    <b>{{ .Site.Params.Timetable.register | time.Format "3:04pm on Monday 2 January" }}</b>
  </p>
  {{ end }}

  {{ if .Site.Params.Timetable.postal }}
  <p class="text-center w-full">
    ✉️ <a class="underline" href="https://www.electoralcommission.org.uk/i-am-a/voter/apply-vote-post">Apply for a postal vote</a> by
    <b>{{ .Site.Params.Timetable.postal | time.Format "3pm on Monday 2 January" }}</b>
  </p>
  {{ end }}

  {{ if .Site.Params.Timetable.proxy }}
  <p class="text-center w-full">
    🗳️ <a class="underline" href="https://www.electoralcommission.org.uk/i-am-a/voter/apply-vote-proxy">Apply to vote by proxy</a> by
    <b>{{ .Site.Params.Timetable.proxy | time.Format "3pm on Monday 2 January" }}</b>
  </p>
  {{ end }}

  {{ if .Site.Params.Timetable.photoid }}
  <p class="text-center w-full">
    📷 <a class="underline" href="https://www.electoralcommission.org.uk/i-am-a/voter/voter-id/applying-a-voter-authority-certificate">Apply for a Voter Authority Certificate</a> by
    <b>{{ .Site.Params.Timetable.photoid | time.Format "3pm on Monday 2 January" }}</b>
  </p>
  {{ end }}
</div>