<!-- TODO get questions from page data?! -->
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "Who can I vote for in the 2023 Eastleigh local elections?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>You can find all the candidates standing in the Borough Council elections on <a href=https://whocanivotefor.co.uk/>Who Can I Vote For?</a> The <a href=https://elections.openeastleigh.uk/>Eastleigh Elections</a> site also lists Town and Parish Council candidates.</p>"
        }
      }, {
        "@type": "Question",
        "name": "How can I find out more about the election candidates?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p><a href=https://whocanivotefor.co.uk/>Who Can I Vote For?</a> includes a profile for each candidate, and some candidates recorded videos for the <a href=https://hustings.eastleigh.online/>Eastleigh Borough Hustings</a>.</p>"
        }
      }]
    }
</script>
