<div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
  <h2 class="text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0 text-center w-full">Candidate videos</h2>

  <header class="mb-6 text-center w-full">
    <p>If you're having trouble deciding who to vote for, <a class="underline" href="https://hustings.eastleigh.online/">Eastleigh Borough Hustings</a> are here to help! The following areas all have videos from one or more candidates answering five questions:</p>
    <ul>
    {{ range .Site.Data.elections }}
    {{ if .hustings }}
    <li><a class="underline" href="{{ .hustings }}">{{ (or .division .org) }}</a></li>
    {{end}}
    {{end}}   
    </ul>
  </header>
<div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
</div>
  <h2 class="text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0 text-center w-full">Are you ready to vote?!</h2>

  <header class="mb-6 text-center w-full">
    <p><a class="underline" href="https://www.gov.uk/how-to-vote/photo-id-youll-need">You will need to show photo ID to vote in person at polling stations in these local elections</a>!</p>
  </header>
</div>
